SPRING_BASE_URL=http://localhost:8080
FASTAPI_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://kairos.cloud-ip.cc,http://kairos.cloud-ip.cc
COGNITO_ENABLED=false
COGNITO_AWS_REGION=ap-northeast-2
COGNITO_USER_POOL_ID=ap-northeast-2_example
COGNITO_CLIENT_ID=your-cognito-app-client-id
COGNITO_ISSUER_URI=https://cognito-idp.ap-northeast-2.amazonaws.com/ap-northeast-2_example
COGNITO_TOKEN_USE=access
COGNITO_USERNAME_CLAIM=cognito:username
